.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
form {
  margin: 2em;
}
input {
  width: 300px;
  height: 45px;
  border: none;
  padding-left: 1em;
  font-size: 20px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.search-btn {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #fff;
  border: none;
  height: 45px;
  font-size: 20px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
input:focus,
button:focus {
  outline: none;
}
.recipe-container {
  width: 100%;
  display: grid;
  position: relative;
  gap: 10px;
  grid-template-rows: repeat(10, 400px);
  grid-template-columns: 1fr;
}
.recipe {
  position: relative;
  overflow-y: scroll;
  border: 5px dashed white;
  border-radius: 2em;
}
.recipe::-webkit-scrollbar {
  display: none;
}
.recipe::-webkit-scrollbar-thumb {
  background: rgb(133, 126, 126);
}
.img {
  border-radius: 1em;
  border: 3px solid white;
  box-shadow: 1px 6px 6px;
}
.left.img {
  position: absolute;
  right: 5%;
  top: 3em;
}
.right.img {
  position: absolute;
  left: 5%;
  top: 3em;
}
.info {
  color: #fff;
  padding-bottom: 1em;
}
.info > h1 {
  text-shadow: gray 1px 2px;
}
.right.info {
  position: absolute;
  left: 3%;
  top: 3em;
  width: 40em;
  word-wrap: break-word;
}
.left.info {
  position: absolute;
  right: 5%;
  word-wrap: break-word;
  top: 3em;
  width: 40em;
}
.link-btn {
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 150px;
  height: 45px;
  font-size: 20px;
  color: white;
}
.link-btn.left {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-right: 2px;
}
.link-btn.right {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.link-btn:focus {
  outline: none;
}
